.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ccc; /* Gray color for inactive bullets */
  opacity: 1;
  margin: 0 5px;
  transition: background-color 0.3s, with 0.3;
  position: relative;
}

.swiper-pagination-bullet-active {
  background: #888;
  width: 32px;
  height: 8px;
  border-radius: 8px;
}
.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 10;
  width: 16px;
  height: 8px;
  background: #000;
  border-radius: 4px;
  transition: background-color 0.3s, with 0.3;
}
.swiper-pagination-bullets {
  position: relative;
  padding-block: 16px;
}
.custom-pagination-bullet {
  transition: all 0.3s ease !important;
}

.custom-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1.5);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.5);
  }
}

.animate-scale {
  animation: scale 0.3s ease forwards;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 1rem !important;
}

.swiper-pagination-bullet {
  margin: 0 6px !important;
}
